* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* button */

button {
  border: none;
  background-color: unset;
  outline: none;
}
#slidebar {
  position: fixed;
  width: 90px;
  top: 60px;
  right: 0;
  background-color: #0d1326;
  z-index: 1999;
  padding: 40px 8px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
/* slide */
#slidebar ul {
  list-style: none;
}
#slidebar .slide_list a {
  color: #8f95a8;
  transition: all 0.5s;
}
#slidebar .slide_list li {
  text-align: center;
}
#slidebar .slide_list i,
#slidebar .slide_list p {
  display: block;
}
/* #slidebar .slide_list li{
    text-align: center;    
} */
#slidebar .slide_list li:hover a {
  color: #fff;
}

.slide_list li:nth-child(1) {
  /* border-bottom: 1px solid #41414d; */
  padding-bottom: 30px;
  border-bottom: 1px solid #41414d;
}

.slide_list li:nth-child(2),
.slide_list li:nth-child(3),
.slide_list li:nth-child(4) {
  margin-top: 30px;
}

/* banner */

#banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: initial;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpg);
  min-height: 700px;
  position: relative;
  z-index: 999;
}
.banner_header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 40px 0 20px 0;
  grid-gap: 20px;
}

.banner_logo {
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-top: 15px;
}
form {
  position: relative;
}
.search_form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input_search {
  position: relative;
  border: 1px solid white;
  border-radius: 6px;
  background-color: white;
  color: #151b2c;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 50px 10px 20px;
  height: 45px;
}

.form_search .icon_search {
  color: #5b606c;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  padding-right: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.menu_bars {
  border: none;
  background-color: transparent;
  color: #fbfdfb;
  padding: 0 8px;
  font-size: 25px;
}
.btn_mode {
  cursor: pointer;
  display: flex;
  position: relative;
  margin: 16px;
}
.btn_mode .icon_mode {
  color: white;
  display: inline-block;
  font-size: 24px;
}
.banner_content {
  max-width: 600px;
  text-align: left;
}
.banner_info {
  margin-top: 100px;
}
.banner_info h1 {
  color: white;
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
}

.banner_info p {
  color: white;
  font-size: 16px;
  padding-right: 48px;
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.banner_info .more_info {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.btn_white {
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 45px;
  line-height: 30px;
  transition: 0.3s ease-in;
}

.banner_info a:hover {
  text-decoration: none;
  color: #ff6600;
  background-color: white;
}

/* about content */
#content {
  padding: 3rem;
}
.row_block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 3rem 0;
}

#content .about_title h6 {
  color: #ff6600;
  display: block;
  font-size: 20px;
  font-weight: 400;
  font-family: "Pacifico", cursive;
}

#content .about_title h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 48px;
}

#content .content_right p {
  font-size: 18px;
  line-height: 28px;
  color: #161c2db3;
}

/* #block {
  background: #ff6600;
} */

/* block */

#block .row_block .block_img {
  background: url(../img/banner3.jpg) no-repeat top center / cover;

  position: relative;
  z-index: 1;
  min-height: 600px;
}

#block .rowblock .block_img::before {
  width: 100%;
  height: 100%;
  position: absolute;
}
.bg_block_content{
  background: #ff6600;
  min-height: 600px;
}

.block_content , .block_rate{
  padding-left: 50px;
}

.block_rate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
  position: relative;
}

.block_content h1,
.block_content h3 {
  color: white;
}
.block_content {
  padding-top: 3rem;
}
.block_content h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
  font-family: "Pacifico", cursive;
}
.block_content h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: black;
}

.block_content p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
}

.block_rate i {
  color: #ff6600;
  background-color: white;
  display: block;
  width: 70px;
  height: 70px;
  font-size: 28px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 24px;
  border-radius: 6px;
}


.rate_left:hover i,
.rate_right:hover i {
  color: #ffc600;
}

.block_rate a {
  color: black;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.block_rate .rate_left p, .block_rate .rate_right p {
  color: white;
}

.block_rate .rate_left a, .block_rate .rate_right a{
  color: white;

}
.block_rate .rate_left:hover a, .block_rate .rate_right:hover a{
  text-decoration: none;
 
}
.rate_left a:hover, .rate_right a:hover{
  opacity: 0.8;
}
/* categories */

#categories {
  background-color: #f7f7f7;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  
}
.row_cate {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.cate_heading h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.cate_heading{
  padding-top: 80px;
}
.cate_heading h3 {
  font-size: 32px;
  line-height: 40px;
}

.cate_body {
  padding-top: 40px;
}

.cate_item {
  position: relative;
  border-radius: 12px;
  margin: 16px 0;
}

.cate_item img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.cate_item:hover img {
  opacity: 0.85;
  transition: all 0.5s;
}

.cate_content {
  bottom: -32px;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 40px;
  z-index: 1100;
}

/* .cate_content::after {

    content: "";
  position: inherit;
  left: 0;
  bottom: 32px;
  width: 100%;
  height: 100%;
} */

.cate_content p:nth-child(1) {
  color: #f1f2f1;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.cate_content p:nth-child(2) {
  color: #ffc600;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}

/* features */
#features{
  padding-bottom: 70px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-top: 100px;
}
.menu_head{
  display: flex;
  justify-content: left;
  align-items: center;
}
.col-lg-4{
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  position: relative;
  width: 100%;
  padding: 0 15px;

}

.box-wrap{
  padding: 40px;
  transition: all 0.5s ease 0s;
  border-radius: 0 25px 0  rgba(0 0 0 0 / 3%);
  background-color: #fff;
  position: relative;
  border: 1px solid #eee;
  margin: 16px 0;
}
.box-wrap:hover {
  box-shadow: 2px 2px 2px 2px #f1f1f1;
}

.box-wrap-grid{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
  justify-content: left;
  align-items: center;
}
.features_info p{
  font-size: 18px;
  line-height: 28px;
  color: #161c2db3;

}
#features .features_content h3 a{
  color: #232121;
  font-size: 24px;
  font-weight: 800;
  transition: all 0.3s;
}

#features .features_content h3:hover a{
  color: #ff6600;
}

.icon_menu{
  width: 70px;
  height: 70px;
  text-align: center;
  background: #8273fc0d;
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  color:#ff6600;
}

.features_menu:hover .menu_head i{
  color: white;
  background-color: #ff6600;
}
.features_content h3{
  color: #ff6600;
  font-size: 24px;
  font-weight: 800;
  transition: all 0.5s;
}






/* Phong */

.middle__row h1{
  text-align: center;
  color: white;
  line-height: 50px;
  width: 100%;
  font-size: 45px;
  padding-bottom: 40px;
}
.middle__delicious{
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  position: relative;
  height: 400px;
  width: 100%;
  z-index: 1;
}
.middle__delicious::after{
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.middle__content{
  text-align: center;
  transform: translateY(100px);
}
.middle__button{
  display: flex;
}
.middle__button .btn-white{
  color: white;
  border: 2px solid white;
  padding: 12px 50px;
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  transition: all 0.8s;
}
.middle__button .btn-white:hover{
  background-color: white;
  color: #ff6600  ;
}
.button__white{
  text-align: right;
}
.button__white i{
  font-size: 14px;
  margin-left: 5px;
}
.button__organ{
  text-align: left;
}
.middle__button .btn-primary{
  color: white;
  border: 2px solid #ff6600;
  background-color: #ff6600;
  padding: 12px 50px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.8s;
}
.middle__button .btn-primary:hover{
  background-color: #d75705;
  border: 2px solid #d75705;
  color: #dbd5d4;
}
.button__organ i{
  font-size: 14px;
  margin-left: 5px;
}

/* numbers */
#number{
  transform: translateY(-60px);
  z-index: 2;
  position: relative;
}
.number__row{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.number__row i{
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
  background: #ff6600;
}
.number__row .counter{
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: all 0.5s;
  background-color: white;
  border-radius: 10px;
}
.number__row .counter:hover{
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.counter__number{
  font-size: 2.6em;
  font-weight: 600;
  padding-top: 15px;
}
.number__row p{
  font-size: 18px;
  color: #161c2db3;
  font-weight: 600;
}
/* .number__content .container{
  position: absolute;
  transform: translate(180px, -60px);
  z-index: 2;
} */
/* Videos */
.videos__content{
  background-image: url(../img/banner3.jpg);
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 550px;
  border-radius: 10px;
  background-size: cover;
}
.videos__content::after{
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px;
}
.videos__content a{
  text-align: center;
}
.video-play-icon{
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  color:#ff6600;
  background: white;
  border-radius: 50%;
  border: transparent;
  transition: all 0.5s;
}
.video-play-icon:hover{
  transform: scale(1.2);
  background-color: #ff6600;
  border: transparent;
  color:white;
}

/* Last Posts */
.posts__header img{
  width: 100%;
  border-radius: 10px;
}
.posts__title{
  text-align: center;
}
.posts__title h3{
  font-size: 22px;
  color: #ff6600;
}
.posts__area{
  background-color: #f7f7f7;
  padding: 100px 0;
}
.footer__card img{
  width: 40px;
  border-radius: 50%;
}
.posts__row{
  display: flex;
}
.footer__card{
  display: flex;
}
.footer__card .footer__img{
  width: 50%;
}
.footer__card a{
  width: 50%;
}
.posts__post{
  position: absolute;
  transform: translateY(-40px);
  color: white;
  font-size: 13px;
  padding-left: 10px;
}
.posts__post button{
  background-color: #ff6600;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 18px;
  border-radius: 30px;
}
.posts__post i{
  font-size: 13px;
  padding: 0 2px;
}
.posts__card a{
  text-decoration: none;
}
.posts__body a{
  font-size: 18px;
  color: black;
  font-weight: 500;
  margin-left: 5px;

}
.posts__body{
  padding-top: 20px;
}
.posts__body p{
  font-size: 18px;
  color: gray;
  padding: 6px 0;
}
.footer__card a{
  line-height: 2;
  transform: translateX(60px);
}
.footer__card i{
  margin-left: 5px;
  font-size: 15px;
}

/* Testimonials */
.testimonials__body img{
  width: 10%;
  height: 100px;
  border-radius: 50%;
}
.carousel-item{
  text-align: center;
  height: 400px;
}
.carousel-caption{
  color: black;
  transform: translateY(10px);
}
.carousel-indicators li{
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 15px;
  background-color: #d8d8d8;
}
.testimonials__title h6{
  font-size: 20px;
  color: #ff6600;
}
.testimonials__title h3{
  font-size: 50px;
  font-weight: 400;
}
.carousel-caption h3{
  font-size: 25px;
}
.carousel-caption p{
  font-size: 18px;
  color: gray;
}
.carousel-caption h2{
  color: #ff6600;
  font-size: 30px;
}

/* Footer */
.footer__row{
  display: flex;
  color: gray;
  font-size: 15px;
}
#footer{
  background-color: black;
}
.footer__logo h2{
  font-size: 28px;
  color: white;
}
.footer__logo p{
  color: gray;
  font-size: 18px;
}
.main__social i{
  padding: 8px;
  color: #ff6600;
  background: white;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.5s;
}
.main__social a{
  padding-right: 8px;
}
.main__social i:hover{
  background-color: #ff6600;
  color: white;
}
.footer-2 h1{
  font-size: 25px;
  margin-bottom: 15px;
  color: white;
}
.footer-3 h1{
  font-size: 25px;
  margin-bottom: 15px;
  color: white;
}
.footer-4 h1{
  font-size: 25px;
  margin-bottom: 15px;
  color: white;
}
.col__list a{
  display: block;
  color: gray;
  font-size: 15px;
  margin: 8px 0;
  text-decoration: none;
  transition: all 0.5s;
}
.col__list a:hover{
  color: #ff6600;
}
.form-control{
  height: calc(1.5em + .75rem + 20px);
}
.footer-4 button{
  color: white;
  border: 2px solid #ff6600;
  background-color: #ff6600;
  padding: 15px 115px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.8s;
}
.footer-4 button:hover{
  color: #fff;
  background-color: #d75705;
  border: 2px solid #d75705;
  opacity: 0.8;
}
.contact-footer{
  display: flex;
}
.contact__row{
  display: flex;
}
.contact-footer p{
  color: gray;
}
.contact-footer a{
  color: #ff6600;
  margin: 0px 4px;
  text-decoration: none;
  transition: all 0.5s;
}
.contact-footer a:hover{
  color: white;
}
.footer-list a{
  color: gray;
  margin-right: 30px;
  text-decoration: none;
  transition: all 0.5s;
}
.footer-list a:hover{
  color: #ff6600;
}

/* Backtotop */
.backToTop {
  background-color: #ff6600;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 1;
  border-radius: 50%;
  border: 1px solid #ee4461;
}
.backToTop i{
    color: white;
}